.class {
  &__something {
    color: red;
    transition:
      opacity 0.3s,
      transform 0.3s,
      color 0.3s;}

  h1,
  .class,
  &__sub {
    &::active,
    &::focus,
    &::hover {
      color: red;
      background:
        url()
        no-repeat;}}}

.classname {
  property: value;
  font-size: 8, 2, 4;

  transition:
    opacity 0.3s,
    transform 0.3s,
    color 0.3s;}
